//Colors
$dark-bg: #2B2D3A;
$main-text: #EEF3FF;
$cards-text: #ffffff;
$breadcrumbs-main: #616580;
$breadcrumbs-next: #C4D2E3;
$border: #000000;
$interact-block: #2B2D3A;
$feedback-block: #252631;
$button: #2D76F9;